body {
  padding: 10px;
  max-height: 500px;
}

header {
  background: #ffdc9b;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.process-container {
  width: 100%;
  height: 5px;
  background: #e5ffe5;
}

.process-bar {
  width: 50%;
  height: inherit;
  background: #00be00;
}